body{
    background-image: url('index.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#number{
    position:absolute;
    left:50%;
    top: 50%;
    transform:translateX(-50%) translateY(-50%);
    font-size:40px;
}
