@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* universal selector */
* {
  box-sizing: border-box;
  /* box-sizing property is used to adjust or control the size of any element that accepts a width or height. It specifies how to calculate the total width and height of that element. */
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* entire height of the web browser since we are having flex */
  overflow: hidden;
  /* overflow controls the big content. It tells whether to clip content or to add scroll bars./ */
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  margin: 10px;
  border-radius: 20px;
  color: whitesmoke;
  flex: 0.5;
  position: relative;
  cursor: pointer;
  transition: flex 2s ease-in;
}
.panel h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}
.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 2s ease-in 2s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
